<a href="https://colab.research.google.com/github/Pongpang-2102/Data-Science-Project-2022/blob/main/DataRockie_Live_09_1_Intro_to_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")
print('Hello World')

Hello World
Hello World

ipynb : interactive Python notebook

# Assign Variable

In [ ]:
# Create a new variable : Snake case (Lower case for all char)
my_name = "Pongpang"  # for coding should be have a  white space
my_age = 28
my_gpa = 3.11
my_university = "SUT"
print(my_name,my_age,my_gpa,my_university)

Pongpang 28 3.11 SUT

In [ ]:
# Reassign new value (Overwrite to existing value)
my_name = "Puriwat "
print(my_name)

Puriwat

# **Data Type**

- int
- float 
- str( string)
- bool (boolean)

In [ ]:
x = 10
type(x)

int

In [ ]:
x =3.11
type(x)

float

In [ ]:
x = True # or False
type(x)

bool

In [ ]:
# Convert data type
y ="1"
print(type(y))
y = int(y)
print(y,type(y))

<class 'str'>
1 <class 'int'>

In [ ]:
z = 0
type(z)

int

In [ ]:
z=bool(z)  # o = False / 1 = True
print(z,type(z))

False <class 'bool'>

In [ ]:
text = "123"
text = int(text)
text = str(text)
print(type(text))

<class 'str'>

In [ ]:
# Type Hint
my_name: str = "Pongpang"  

# hint to Python that my_name will be string variable
print(my_name)

Pongpang

In [ ]:
my_age: int = 28
print(my_age,type(my_age))
# Only Hint not to be Enforcement

28 <class 'int'>

In [ ]:
# only hint / not to be enforced
my_money1 : str =  1500
print(type(my_money1))
my_money2 : float =  1500
print(type(my_money2))

<class 'int'>
<class 'int'>

In [ ]:
def add_two_int_number (x:int , y:int)-> int :
    return x+y
add_two_int_number(5,10)

# told python that 
# x should be int, yshould be int
# and finally (x+y) should be int

15

# Data Structure
- List
- Tuple
- Dictionary
- Set

In [ ]:
# Creat a new list 
shopping_list = ['egg','milk','bread']
print(shopping_list)

# update value in a list 
shopping_list[0]='beer'
print(shopping_list)
shopping_list[1]='yoghurt'
print(shopping_list)

['egg', 'milk', 'bread']
['beer', 'milk', 'bread']
['beer', 'yoghurt', 'bread']

In [ ]:
# List Method, add new item at the end of list
shopping_list.append('tomato')

In [ ]:
print(shopping_list)
shopping_list.append('lemon')

['beer', 'yoghurt', 'bread', 'tomato', 'lemon']

In [ ]:
sp_shopping_list = shopping_list + ['omlet','book']   # เอา  2 list มารวมกัน
print(sp_shopping_list)

['beer', 'yoghurt', 'bread', 'tomato', 'lemon', 'lemon', 'omlet', 'book']

In [ ]:
# We will use len() function to count list menber
len(shopping_list)

7

In [ ]:
shopping_list[0:3]
# up to but not included for the last index

['beer', 'yoghurt', 'bread']

In [ ]:
shopping_list[-1]

'lemon'

In [ ]:
shopping_list[-3]

'lemon'

In [ ]:
# remove bread , which is 2nd index (Item number 3) in shopping_list

sp_shopping_list.pop(2)
print(sp_shopping_list)

# list is ab mutable object (can be updated)

['beer', 'yoghurt', 'lemon', 'lemon', 'omlet', 'book']

In [ ]:
# list is a mutable object
print(sp_shopping_list)
sp_shopping_list[0] = 'Heineken'
print(sp_shopping_list)

['beer', 'yoghurt', 'lemon', 'lemon', 'omlet', 'book']
['Heineken', 'yoghurt', 'lemon', 'lemon', 'omlet', 'book']

In [ ]:
# tuple is immutable
shopping_tuple = ('egg','milk','bread','egg')
print(shopping_tuple)

('egg', 'milk', 'bread', 'egg')

In [ ]:
print(len(shopping_tuple))

4

In [ ]:
# In a tuple , we cannnot update value in a tuple
print(shopping_tuple[0])
shopping_tuple[0] = 'beer'

egg

TypeError: ignored

In [ ]:
shopping_tuple[0:]

('egg', 'milk', 'bread', 'egg')

In [ ]:
# using count() nethod to count Q'ty of 'egg'

shopping_tuple.count('egg')

2

In [ ]:
# set isd another built-in data structure in Python
shopping_tuple

('egg', 'milk', 'bread', 'egg')

In [ ]:
# create a  new set
shopping_set =set(shopping_tuple)

In [ ]:
print(shopping_set)

{'milk', 'egg', 'bread'}

In [ ]:
my_set = {'Aan','Zue','Ink','Zue'}
print(my_set)
my_set = {'Aan','Zue','Ink','ZUE'}
print(my_set)

{'Ink', 'Zue', 'Aan'}
{'ZUE', 'Ink', 'Zue', 'Aan'}

In [ ]:
# Dictionary the final data structure
# Use Key-Value Pair

# key must be  immutable

customer ={
    "id" : 1,
    "fname" : "David",
    "lname" : "Beckham",
    "nationality" : "English"
    }

In [ ]:
# get value from dictionary
customer['fname']

'David'

In [ ]:
# Get value from dictionary
customer['nationality']

'English'

In [ ]:
# updating nationality from English to British
customer['nationality']= 'British'
print(customer)

{'id': 1, 'fname': 'David', 'lname': 'Beckham', 'nationality': 'British'}

In [ ]:
# How to Create a new key
customer ['team'] = "Manchester United"
print(customer)

{'id': 1, 'fname': 'David', 'lname': 'Beckham', 'nationality': 'British', 'team': 'Manchester United'}

In [ ]:
# adding customer info Name : beckham with his favorite movies
customer['fav_movies']= ['Batman','Superman','Marvel']
print(customer)

{'id': 1, 'fname': 'David', 'lname': 'Beckham', 'nationality': 'British', 'fav_movies': ['Batman', 'Superman', 'Marvel']}

In [ ]:
# How to find the first Beckham favorite movies in list
print(customer['fav_movies'][0])

Batman

In [ ]:
# How to find the last movies in Beckham's fav_movies without length data
customer['fav_movies'][-1]

'Marvel'

In [ ]:
customer['fav_movies'][-2]

'Superman'

In [ ]:
customer  # unordered

{'fav_movies': ['Batman', 'Superman', 'Marvel'],
 'fname': 'David',
 'id': 1,
 'lname': 'Beckham',
 'nationality': 'British'}

In [ ]:
print(customer) #ordered (from k1:v1 , k2:v2 ........)

{'id': 1, 'fname': 'David', 'lname': 'Beckham', 'nationality': 'British', 'fav_movies': ['Batman', 'Superman', 'Marvel']}

In [ ]:
# How to delete the specific key in fav_movie
customer.pop('fav_movies')

['Batman', 'Superman', 'Marvel']

In [ ]:
# check whether key is in a dict
'team' in customer  # key -team- is not found

False

In [ ]:
'fav_movies' in customer

True

In [ ]:
print(customer)

{'id': 1, 'fname': 'David', 'lname': 'Beckham', 'nationality': 'British', 'team': 'Manchester United'}

In [ ]:
del customer['fname']

In [ ]:
print(customer)

{'id': 1, 'lname': 'Beckham', 'nationality': 'British', 'team': 'Manchester United'}

# Control Flow
1. if-else
2. for Loop
3. While Loop

In [ ]:
# if else
score = 70

if score > 80:
    print("pass")
else :
    print('Failed')

Failed

In [ ]:
# for Loop + if else
scores = [85,90 ,65,60,82]
count_passed = 0
count_failed = 0

grades = [] # empty list

# สำหรับ score ของนักเรียนแต่ละคนที่อยู่ใน [score]
for score in scores:
    if score > 80 :
        grades.append("Passed")
        count_passed +=1

    else:
        grades.append("Failed")
        count_failed +=1

print(grades)
print("Student with exam passed : ",count_passed,"people")
print("Student with exam failed : ",count_failed,"people")

['Passed', 'Passed', 'Failed', 'Failed', 'Passed']
Student with exam passed :  3 people
Student with exam failed :  2 people

In [ ]:
# while loop
# Continuous running and be stopped at False status

count = 0
while (count<5) :
    #count+=1
    print('Hello , count = ', count)
    count+=1  #add 1 to count variable

Hello , count =  0
Hello , count =  1
Hello , count =  2
Hello , count =  3
Hello , count =  4

# Function

In [ ]:
# Create a new function
 
def  greeting():
    print("Hello World")
    print("Python is Very Easy")
    print("Python is Super Fun")

greeting()

Hello World
Python is Very Easy
Python is Super Fun

In [ ]:
def greeting_user1(name :str)-> str :  
    return "hello "+ name + " how are you ?"

# ตัวอย่างนี้ จะเป็นการใช้ function type hint เป็นการใบ้ python ว่า input name ควรจะเป็น str

In [ ]:
def greeting_user2(name) :  
    return "hello "+ name + " how are you ?"

In [ ]:
greeting_user1(name="Pongpang")

'hello Pongpang how are you ?'

In [ ]:
greeting_user2('Pongpang')

'hello Pongpang how are you ?'

In [ ]:
result=greeting_user1(name="Pongpang")
result

'hello Pongpang how are you ?'

In [ ]:
# function for give grade to each student
# function is reusable
def grading(scores): 
    """Give grade to a list of score value for students"""     # doc_string
    result=[]
    for score in scores:
        if score>80:
            result.append("Pass")
        else :
            result.append("failed")
    return result      # เมื่อไหร่ที่ Python เจอคำว่า return มันจะเลิกทำงานต่อ (terminate) ทันที

result =grading([85,90 ,26,100,67])
print(result)

['Pass', 'Pass', 'failed', 'Pass', 'failed']