<a href="https://colab.research.google.com/github/Pongpang-2102/Data-Science-Project-2022/blob/main/Datarockie_Live09_2_Python_End_to_End_(part_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Live 09 Python End to End**

# **Python End to End (part 2)**

- f-strings 
- string methods
- nested dictionary
- functions , try-catch
- lambda
- list & comprehension
- OOP & Class
- ATM Mini Project

## f-String & Function

In [ ]:
# f-string  template :
# for working with string in Python
x = 'hello world'
y = "hello world"

# we can print x and y in the same time
print (x , y)

hello world hello world

In [ ]:
# we can bring x to sum with y 
print(x + y)

hello worldhello world

In [ ]:
# try to change word in y 
y = " This is python Class!!"

# and try to print x + y  again
print(x + y)

# r cannot bring str to sum with str

hello world This is python Class!!

How about f string ???

In [ ]:
my_name  = "Toy"
my_age  = 33
my_favorite_language = "R"

# in long string / using """  """ (or triple code ) we can enter to add a string in a new line
# try to create f string
text = f"""Hello my name is {my_name}. I'm {my_age} years old 
and my favorite language is {my_favorite_language}. """  

# { } in this case is placeholder

print(text)

Hello my name is Toy. I'm 33 years old
and my favorite language is R.

In [ ]:
# use f string 
# to define a new function

def greeting (name) :
    return f"Hello! {name}"

# test function
greeting("Pongpang")

'Hello! Pongpang'

## String Method

In [ ]:
# string method

# what is method ?
 



# try to create a list of friends
friends = ['Aan', 'Ink' ,'Zue']

# try to append friends named "Ball" as the last friends list members
friends.append('Ball')

# try to view all members in friends list
print(friends)

['Aan', 'Ink', 'Zue', 'Ball']

In [ ]:
friends.append('Toy')
print(friends)
print(type(friends))

['Aan', 'Ink', 'Zue', 'Ball', 'Toy', 'Toy']
<class 'list'>

`method` คือ ฟังก์ชันที่ถูกสร้างขึ้นมาสำหรับ `Object class นั้นๆ `

จากข้างบน friends จะมี type เป็น list
ส่วน append ก็คือฟังก์ชั่นที่ถูกสร้างขึ้นมาสำหรับ list ตัวดังกล่าว

In [ ]:
# to view method at string


my_name = "Python"
print(my_name[0])

# How about this ?
# my_name[0] = "S"  -- > it would be error


# String is immutable

P

In [ ]:
# How to replace P with S
# we may create a new list toghether with slicing
my_new_name = "S" + my_name[1:]
print(my_new_name)

Sython

In [ ]:
# string method
text = "a duck walks into a bar"

In [ ]:
# How about changing text to an uppercase
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
# to capitalize :
#  first char will be changed to  uppercase

text.capitalize()

'A duck walks into a bar'

In [ ]:
# lowering our string
"Hello ".lower()

'hello '

In [ ]:
# How to change "duck" in text to "tiger"
# using replace
text.replace("duck","tiger")

'a tiger walks into a bar'

In [ ]:
print(text)

# string is immutable 
# it cannot use replace to chage str permenently

a duck walks into a bar

In [ ]:
# if we would like to permanently changed 
# we neeed to reassign a new value back to original variable (it would be overwritten)
text = text.replace("duck","tiger")
print(text)

a tiger walks into a bar

In [ ]:
# splitting text

# whenever spacebar was found --> split it
text.split(" ")

['a', 'tiger', 'walks', 'into', 'a', 'bar']

In [ ]:
list_text = text.split(" ")
print(list_text)

['a', 'tiger', 'walks', 'into', 'a', 'bar']

In [ ]:
# join word in a list using " "

# to join string in same list together
"-".join(list_text)
"___".join(list_text)
" ".join(list_text)

'a tiger walks into a bar'

In [ ]:
# try to combine all together
text;
text.replace("tiger","hippo").upper().split(" ")

['A', 'HIPPO', 'WALKS', 'INTO', 'A', 'BAR']

## Nested Dictionary

In [ ]:
# nested dictionary 
# use key-value pair concept

player_01 = {
    "fname" : "David" ,
    "lname" : "Beckham" ,
    "clubs" : ["Man United" , "Real Madrid"] ,
}

player_02 = {
    "fname" : "Christiano",
    "lname" : "Ronaldo" ,
    "clubs" : ["Man United" ,"Real Madrid" , "Juventus"] ,
    "prize" : True ,
    "gamer" : True
}

In [ ]:
# try to create a new object : all_players
all_players = {
    "01" : player_01,
    "02" : player_02
    }

all_players

# structure will be same as JSON file
# JSON : JavaScript Object Notation

{'01': {'clubs': ['Man United', 'Real Madrid'],
  'fname': 'David',
  'lname': 'Beckham'},
 '02': {'clubs': ['Man United', 'Real Madrid', 'Juventus'],
  'fname': 'Christiano',
  'gamer': True,
  'lname': 'Ronaldo',
  'prize': True}}

In [ ]:
# extract data from all_players

# How to extract player_01 "Beckham"
all_players["01"]

{'clubs': ['Man United', 'Real Madrid'], 'fname': 'David', 'lname': 'Beckham'}

In [ ]:
# How to extract player_01 (Beckham)'s clubs
all_players["01"]["clubs"]

['Man United', 'Real Madrid']

In [ ]:
# How to extract player_01 (Beckham)'s second clubs
all_players["01"]["clubs"][1]

'Real Madrid'

In [ ]:
# input wrong key : error
player_01["firstname"]

KeyError: ignored

In [ ]:
# Hw to input key without error : .get()
# using .get() : 
## if key is correct : return value
## if key is incorrect : return NONE

# start with input correct key
player_01.get("fname")

'David'

In [ ]:
# How about using .get()  with incorrect key
player_01.get("firstname")

# No any result !!!!

In [ ]:
# we can add more argument in case of not found istead of returning NONE
# try to add "Not found" in case of NONE
player_01.get("firstname" ,"Not found")

# .get() : does not produce error 
# our code will continue running for other parts

'Not found'

In [ ]:
# loop through dictionary
player_01.keys()

# all keys will be extracted to shows

dict_keys(['fname', 'lname', 'clubs'])

In [ ]:
player_01.values()

dict_values(['David', 'Beckham', ['Man United', 'Real Madrid']])

In [ ]:
# item : 
#extracting key- value together
player_01.items()

dict_items([('fname', 'David'), ('lname', 'Beckham'), ('clubs', ['Man United', 'Real Madrid'])])

In [ ]:
# How to loop  through  dictionary (loop over keys)
for key in player_01 :
    print(key)

fname
lname
clubs

In [ ]:
# How to loop  through dictionary (loop over keys)
for key in player_01.keys() :
    print(key)

# same result

fname
lname
clubs

In [ ]:
# How to loop through dictionary (loop over values)
for value in player_01.values() :
    print(value)

David
Beckham
['Man United', 'Real Madrid']

In [ ]:
# items()
# How to loop through dictionary (loop over key - values)
for key , value in player_01.items() :
    print(key , value)

fname David
lname Beckham
clubs ['Man United', 'Real Madrid']

In [ ]:
# items() + f-string --> better looking
# How to loop through dictionary (loop over key - values)

for key , value in player_01.items() :
    print(f"{key} : {value}")

fname : David
lname : Beckham
clubs : ['Man United', 'Real Madrid']

In [ ]:
# list of value
# from below list
balls = ["red","green" ,"blue" , "blue" ,"green"]

# we need to create a dictionary that contains
#  ball colors as key / number of balls in that color as value as below

# result = {"red" : 1 ,"green" : 2 ,"blue" : 3}

# How can we do ?

In [ ]:
# answer
# 1. start with creating an empty dictionary named "result"
results = {} # empty dictinary

In [ ]:
# 2. for loop over each ball in list balls
for ball in balls:
    if ball in results:
        results[ball] += 1
    else :
        results[ball] = 1

# Logic : if in result has no that ball --> add 1 (from 0 to 1)
          # if ball has already existed --> plus 1 (e.g from 1 to 2 , 2 to 3 and so on)

print(results)

{'red': 2, 'green': 4, 'blue': 4}

In [ ]:
# or even trying to combine 1 and 2 above in function
#scope
def count_ball(balls):
    results = {}
    for ball in balls:
        if ball in results:
            results[ball] += 1
        else :
            results[ball] = 1
        
    return results

# function is Re-usable
results = count_ball(balls)
print(results)

{'red': 1, 'green': 2, 'blue': 2}

## try-catch

In [ ]:
# try catch syntex
# manage error massage in Python
x = 10
x / 0  # ZeroDivisionError: division by zero

ZeroDivisionError: ignored

In [ ]:
# try catch syntex
# manage error massage in Python
x = 10
# x / 0  # ZeroDivisionError: division by zero
try : 
    result = x/0
    print(result)

except : 
    print("Cannot divided by zero")
finally :
    print("The End!")

Cannot divided by zero
The End!

In [ ]:
# try catch syntex
# manage error massage in Python
x = 10
# x / 0  # ZeroDivisionError: division by zero
try : 
    result = X + 1
    print(result)

except : 
    print("Cannot divided by zero")
finally :
    print("The End!")

Cannot divided by zero
The End!

In [ ]:
X

NameError: ignored

In [ ]:
X/0

NameError: ignored

In [ ]:
# we can use many expet to cover more error as below
# try catch syntex
# manage error massage in Python
x = 10
# x / 0  # ZeroDivisionError: division by zero
#-----------------
# in this case / we will catch NameError & ZeroDivisionError as well
# X won't be defined
try : 
    result = X + 1      
    print(result)
except NameError :
    print("X is not defined")
except ZeroDivisionError :
    ("Cannot divided by zero")
finally :
    print("The End!")

X is not defined
The End!

## Lambda function & List Comprehension

In [ ]:
# Lambda Function

# we can change normal function to be simpler using lambda Function
# as known as  Refractoring

# from  general function
def greeting() :
    print("Hello")

In [ ]:
greeting()

Hello

In [ ]:
# rearrange it to be in lambda function form
greeting_lambda = lambda : print("Hello !")

In [ ]:
# try to call our new lambda function
greeting_lambda()

Hello !

In [ ]:
# for function with accepting 1 input

# from general function form
def greeting_name(name) :
    print(f"Hello! {name}")

In [ ]:
greeting_name("Pongpang")

Hello! Pongpang

In [ ]:
# rearrange it to be in lambda function form

greeting_name_lambda = lambda name : print(f"Hello! {name}")

In [ ]:
greeting_name_lambda("Pongpang")

# it will show same result

Hello! Pongpang

In [ ]:
# more about lambda

# common pattern when we use lambda function
values = [1, 3 , 5 , 10 , 12]

# expected output (x2)
# value_new = [2 , 6 , 10 , 14 , 20 , 24]

In [ ]:
# 1. list comprehension
new_values = [ value * 2 for value in values ]
print(new_values)

[2, 6, 10, 20, 24]

In [ ]:
# 2. lambda function + map()
values

[1, 3, 5, 10, 12]

In [ ]:
# 2.1 start with def new function
def double(number) :
    return number * 2

# try for new function 
double(10)  
# double(10) will return 20

# 2.2 map function double with list values --> and change it to be a new list
list(map(double , values))

[2, 6, 10, 20, 24]

In [ ]:
# we can use lambda to define function double in a function map as well
# anonymous function 

# 3. lambda function + map () within 1 line coding
list(map(lambda number : number * 2 , values))

[2, 6, 10, 20, 24]

In [ ]:
# lambda function

divided_by_two = lambda number : number/2
divided_by_two(155)

77.5

## OOP & Class

OOP - Object Oriented Programming

In [ ]:
# How to create a new class

# creating a new class : FirstChar.capitalize()
# __ (double underscore) AKA : dunder

# self : we can use any word as  name (not limited to "self"  )

class Dog :
    # assign attributes
    def __init__(self , name , age , breed) :
        self.name = name
        self.age = age 
        self.breed = breed

    # methods 
    # sitting
    def sitting(self):
        print("I am sitting now !!!")

    # introduce yourself
    def hello(self) :
        print(f"Hello! My name is {self.name} My breed is {self.breed}")


# after def a new function , we must need to refresh you created instance (Kuma & Lavender)

In [ ]:
# create a new instance : Dog Class
my_dog = Dog(name = "Kuma" , age = 2 , breed = "Pomperranian")
print(my_dog)

<__main__.Dog object at 0x7f17f4051610>

In [ ]:
# to find what is Kuma 's name
my_dog.name

# dot notation

my_dog.age
my_dog.breed

'Pomperranian'

In [ ]:
my_dog.sitting()

I am sitting now !!!

In [ ]:
# function created in class cannot be called outside instance
# for example
sitting()

NameError: ignored

In [ ]:
my_dog.hello()

Hello! My name is Kuma My breed is Pomperranian

# ATM Mini Project

- ATM ควรเก็บค่าอะไรบ้าง ?
- ATM ควรมี function อะไรบ้าง ?

In [ ]:
 # 1. deposit
# 2. withdraw
# 3. check balance

class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name

In [ ]:
# this code must input account_name & bank_name to prevent error while running
my_atm = ATM("Puriwat S.","SCB")

In [ ]:
# to call the value inside my_atm
# to view :my_atm 's account name
my_atm.account_name

'Puriwat S.'

In [ ]:
# to view :my_atm 's bank name
my_atm.bank_name

'SCB'

In [ ]:
class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name
        self.balance = 0 # initial value

# balance จะอยู่ตรงไหนก็ได้ (ไม่จำเป็นต้องอยู่ใน init)
# __init__ : จะใช้ในกรณีที่เราอยากจะรับค่าเข้ามา ตอนเราประกาศ instance ตัวใหม่

In [ ]:
# this code must input account_name & bank_name to prevent error while running
my_atm = ATM("Puriwat S.","SCB")

In [ ]:
# start with bank account balance = 0
my_atm.balance

0

In [ ]:
my_atm.account_name

'Puriwat S.'

1. deposit

In [ ]:
# start with 1. Deposit

class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name
        self.balance = 0 # initial value

    # 1. Deposit
    def deposit(self , amount) :
        self.balance += amount
        print(f"Your Balance us {self.balance}")


    # 3. check balance

In [ ]:
my_atm = ATM("Puriwat S.","SCB")

In [ ]:
#  try to deposit in the first time for 500 THB
my_atm.deposit(-500)
print(my_atm.balance)

# every running (shift + enter) : balance will be increased by (input number) in my_atm.deposit function
#  Now wecannot withdraw /deposit only

Your Balance us 0
0

2. withdraw

In [ ]:
# 2. withdraw
class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name
        self.balance = 0 # initial value

    # 1. Deposit
    def deposit(self , amount) :
        self.balance += amount
        print(f"Your Balance is {self.balance}")

    # 2. withdraw
    
    def withdraw(self , amount) :
        if amount > self.balance :
            print("Not Enough money")
        else :
            self.balance -= amount
            print("Successful")
            print(f"Your Balance is {self.balance}")


    # 3. check balance

In [ ]:
my_atm = ATM("Puriwat S.","SCB")
my_atm.balance

0

In [ ]:
my_atm.deposit(500)
my_atm.balance

Your Balance is 500

500

In [ ]:
# How abour withdrawing for 1000 THB
my_atm.withdraw(200)

Successful
Your Balance is 300

3. Check Balance

In [ ]:
# 3. Check balance
class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name
        self.balance = 0 # initial value

    # 1. Deposit
    def deposit(self , amount) :
        self.balance += amount
        print(f"Your Balance is {self.balance}")

    # 2. withdraw
    
    def withdraw(self , amount) :
        if amount > self.balance :
            print("Not Enough money")
        else :
            self.balance -= amount
            print("Successful")
            print(f"Your Balance is {self.balance}")

    # 3. check balance
    def check_balance(self) :
        print(f"Your balance : {self.balance}")

In [ ]:
my_atm = ATM("Puriwat S.","SCB")
my_atm.balance

0

In [ ]:
my_atm.deposit(500)

Your Balance is 500

In [ ]:
my_atm.deposit(6000)

Your Balance is 6500

In [ ]:
my_atm.withdraw(5000)

Successful
Your Balance is 1500

In [ ]:
# to check your balance
my_atm.check_balance()

Your balance : 1500

Need more function ?

- More example of coding : Mobile Banking

In [ ]:
# import random and randomize 5-digit nymber (OTP  number)
#import random

# random.randint(10000,99999)

73321

In [ ]:
# get input from user
# input()
value = int(input())

12355

In [ ]:
value

12355

In [ ]:
# import random and randomize 5-digit nymber (OTP  number)
import random

#4. Mobile Banking
class ATM :
  
    def __init__ (self , account_name , bank_name ) :
        self.account_name = account_name
        self.bank_name = bank_name
        self.balance = 0 # initial value

    # 1. Deposit
    def deposit(self , amount) :
        self.balance += amount
        print(f"Your Balance is {self.balance}")

    # 2. withdraw
    
    def withdraw(self , amount) :
        if amount > self.balance :
            print("Not Enough money")
        else :
            self.balance -= amount
            print("Successful")
            print(f"Your Balance is {self.balance}")

    # 3. check balance
    def check_balance(self) :
        print(f"Your balance : {self.balance}")

    # 4. Mobile banking
    def mobile_withdraw(self , amount) :
        OTP = random.randint(1000, 99999)
        print(OTP)

        # get OTP input from user
        user_input = int(input("Your OTP : ") )
        if user_input == OTP :
            if amount > self.balance :
                print("Not Enough money")
            else :
                self.balance -= amount
                print("Successful")
                print(f"Your Balance is {self.balance}")
        else :
            print("Your OTP is incorrect. Please try again !!")

In [ ]:
my_atm = ATM("Puriwat S.","SCB")
my_atm.balance

0

In [ ]:
my_atm.account_name

'Puriwat S.'

In [ ]:
my_atm.balance

0

In [ ]:
my_atm.deposit(500)

Your Balance is 500

In [ ]:
my_atm.deposit(300)

Your Balance is 800

In [ ]:
my_atm.withdraw(1000)

Not Enough money

In [ ]:
my_atm.mobile_withdraw(350)

23839
Your OTP : 23839
Successful
Your Balance is 450

# Homework Assignment

Homework
- Create class : Restaurant
- minimum 5 methods
  ลองไปคิด operation ของร้านอาหารดู เช่น รับแขกได้กี่คน มีเมนูอะไรบ้าง ราคาเท่าไหร่ รายได้เป็นยังไง